<h1>My Links</h1>

<br/>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <%= render partial: 'link', locals: { link: link } %>
    <% end %>
  </tbody>
</table>

<%= link_to "New link", new_link_path, class:"btn btn-dark" %>
