<h1>Editing link group</h1>

<%= render "form", link_group: @link_group %>

<br>

<div>
  <%= link_to "Show this link group", @link_group %> |
  <%= link_to "Back to link groups", link_groups_path %>
</div>
